.mainDiv {
  padding: 1.2em;
  max-width: 80%;
  text-align: center;
}

.button_layer{
  display: flex;
  flex-direction: row;
  justify-content: center;

}

#panel{
  height: 100vh;
  min-width: 400px;
  background-color: black;
  color: white;
}

.contentBody {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 1.8em;
  margin: 0;
  font-weight: bold;
}

.social-icon {
  color: white;
  padding: 10px;
  margin: 10px;
  font-size: 2em;
}

.social-icon:hover {
  color: grey
}

#imgMe {
  height: 12em;
}

ul.button {
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.button li {
  display: inline;
}

.extraPadding {
  padding: 0.5em;
}

/*if the screen is at least 1004px wide (768 is typical)*/
@media only screen and (min-width: 1004px) {
  /* For desktops: */
  /*Always Design for Mobile First*/
  .contentBody {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #imgMe {
    height: 22em;
    border-radius: 50%;
  }

  .mainDiv {
    /*padding: val1 val2;  --> val1 top bottom, val2 */
    padding: 0 1.6em;
    max-width: 40%;
  }

}
