
html,body{
    font-size: 16px;
    background-color: #f3f6f9;
    scroll-behavior: smooth;
}

a{
    color:white;
    text-decoration:none;
    cursor:pointer;
}
#topHeader {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;

    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;


}

#homeBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.9);

}

.button {
    cursor: pointer;
    margin: 0.8em 1em;
    padding: 0.25em;
}

.button:hover {
    opacity: 0.7;
}

#menu{
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0,0.5);
}

.menu-button{
    cursor: pointer;
    margin: 0.8em 1em;
    padding: 0.25em;
    font-weight: lighter;
    font-size: 0.8em;

}
.menu-button:hover {
    opacity: 0.7;

}

.hide{
    display: none !important;

}


#contentBody {
    margin: 5em 1em;
    display: flex;

    flex-direction: column;
    align-items: stretch;


    color: black;

}

.title{

    font-weight: bolder;
    font-size: 1.2em;
}

.hr{

    max-width: 20em;
    align-items: flex-start;
    margin-bottom: 1em;
    margin-right: 5em;
}

hr{
    border: none;
    height: 1px;
    background-color: #a2a2a2;
}

.sections{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2em;
}

.card{
    width: 15em;
    height: 15em;
    margin: 1.5em;

    transition: transform linear 150ms;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.125);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.card:hover{
    transform: translate(0,-3px);
    box-shadow: 0 3px 10px 3px #a2a2a2;


}


.anchor {
    display: block;
    position: relative;
    top: -6em;
    visibility: hidden;
}

img{
    width: 100%;
    height: 100%;
}

#backToTop{
    display: none;
    position: fixed;
    bottom: 1em;
    right: 1em;
    z-index: 99;

    border: none;
    outline: none;
    background-color: rgba(0,0,0,0.8);
    color: white;
    cursor: pointer;
    padding: 0.5em;
    border-radius: 4px;
}


@media only screen and (min-width: 768px){
    html,body{
        font-size: 20px;
    }
    #topHeader{
        flex-direction: row;
        justify-content: flex-start;
    }
    #menu{
        flex-direction: row;
        flex-grow: 1;
        background-color: rgba(0,0,0,0.9)
    }
    .menu-button{
        font-size: 1em;
        margin: 15px 20px;
        padding: 5px;
    }

    #menu-icon{
        display: none !important;
    }

    .hide{
        display: flex !important;

    }

    .sections{
        justify-content: flex-start;
    }

}