
body{
    min-height: 100vh;
    overflow-x: hidden;
}

#panel {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: black;
    color: white;

}


#topHeader {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;

}


.button {
    cursor: pointer;
    margin: 15px 15px 0 15px;
    padding: 5px;

}

.button:hover {
    opacity: 0.7;
    /*color: grey;*/
}

#contentBody {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.mainDiv {
    display: flex;
    flex-direction: column;
    padding: 1.2em 0;

    text-align: center;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}


.iconBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*padding-bottom: 50px;*/

}


#name {
    font-size: 1.6em;
    font-weight: bold;
}

#quote{
    margin: 1em 0.5em;
    padding: 0.5em 0;

}


.social-icon {
    color: white;
    padding: 0.5em;
    margin: 0.3em;
    font-size: 2.5em;
}

.social-icon:hover {
    color: grey
}

#imgMe {
    width: 14em;
    height: auto;
    max-width: 100%;
    border-radius: 50%;

}

@media only screen and (min-width: 700px){
    /* for iPAD*/
    .button{
        margin: 25px;
    }
    html{
        font-size: 22px;
    }


    #imgMe {
        height: 14em;
        width: auto;
        border-radius: 50%;
    }

    .mainDiv {

        padding: 2em 1.6em;

    }

    .social-icon {

        padding: 0.4em;
        margin: 0.4em;

    }

}




@media only screen and (min-width: 1100px) {
    /* For desktops: */

    .button{
        margin: 25px;
    }
    html{
        font-size: 24px;
    }
    #contentBody {
        flex-direction: row;
    }

    #imgMe {
        height: 16em;
        width: auto;
        border-radius: 50%;
    }

    .mainDiv {

        padding: 0 1.6em;

    }

    .social-icon {

        padding: 0.4em;
        margin: 0.4em;

    }

}


/*animation effects*/

#imgMe{
    animation: zoomIn;
    animation-duration: 2s;
}

.iconBox,.button,#name,#quote{
    animation: flipInX;
    animation-duration: 2s;
}

