@charset "UTF-8";

html,body{
    height: 100%;
}

#panel {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: black;
    color: white;

}


#topHeader {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}


.button {
    cursor: pointer;
    margin: 15px;
    padding: 5px;
}

.button:hover {
    opacity: 0.7;
    /*color: grey;*/
}

.contentBody {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.mainDiv {
    display: flex;
    flex-direction: column;
    padding: 1.2em;

    text-align: center;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}


.iconBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}


#name {
    font-size: 1.8em;
    font-weight: bold;
}

#quote{
    margin: 1em;
    padding: 0.5em;

}


.social-icon {
    color: white;
    padding: 0.3em;
    margin: 0.3em;
    font-size: 2em;
}

.social-icon:hover {
    color: grey
}

#imgMe {
    width: 14em;
    height: auto;
    max-width: 100%;

}


/*if the screen is at least 1004px wide (768 is typical)*/
@media only screen and (min-width: 1208px) {
    /* For desktops: */
    /*Always Design for Mobile First*/
    .contentBody {
        flex-direction: row;
    }

    #imgMe {
        height: 22em;
        width: auto;
        border-radius: 50%;
    }

    .mainDiv {

        padding: 0 1.6em;

    }

    .social-icon {

        padding: 0.4em;
        margin: 0.4em;

    }

}


/*animation effects*/

#imgMe{
    animation: zoomIn;
    animation-duration: 2s;
}

.iconBox,.button,#name,#quote{
    animation: flipInX;
    animation-duration: 2s;
}

