
body{
    min-height: 100vh;
    overflow: hidden;
}

#panel {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: black;
    color: white;

}


#topHeader {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;

}


.button {
    cursor: pointer;
    margin: 15px 15px 0 15px;
    padding: 5px;

}

.an {
    height: 1.3rem;
    margin: 0.9rem 0.5rem 1rem 1rem;
    width: 1.3rem;
}

.an:hover {
    opacity: 0.7;
    cursor: pointer;
}
.an img {
    height: 100%;
    width: 100%;
}
.button:hover {
    opacity: 0.7;
    /*color: grey;*/
}

#contentBody {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.mainDiv {
    display: flex;
    flex-direction: column;
    padding: 1.2em 0;

    text-align: center;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}


.iconBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*padding-bottom: 50px;*/

}


#name {
    font-size: 1.6em;
    font-weight: bold;
}

#quote{
    margin: 1em 0.5em;
    padding: 0.5em 0;

}


.social-icon {
    color: white;
    padding: 0.4em;
    margin: 0.1em;
    font-size: 2.5em;
}

.social-icon:hover {
    color: grey
}

#imgMe {
    width: 14em;
    height: auto;
    max-width: 100%;
    border-radius: 50%;

}

@media only screen and (min-width: 700px){
    /* for iPAD*/
    .button{
        margin: 25px;
    }
    html{
        font-size: 22px;
    }

    .an {

        margin: 1.2rem 1rem 1rem 1.5rem;

    }


    #imgMe {
        height: 14em;
        width: auto;
        border-radius: 50%;
    }

    .mainDiv {

        padding: 2em 1.6em;

    }

    .social-icon {

        padding: 0.4em;
        margin: 0.4em;

    }

}




@media only screen and (min-width: 1100px) {
    /* For desktops: */

    .button{
        margin: 25px;
    }
    html{
        font-size: 24px;
    }
    #contentBody {
        flex-direction: row;
    }

    #imgMe {
        height: 16em;
        width: auto;
        border-radius: 50%;
    }

    .mainDiv {

        padding: 0 1.6em;

    }

    .social-icon {

        padding: 0.4em;
        margin: 0.4em;

    }

}


/*animation effects*/

#imgMe{
    animation: zoomIn;
    animation-duration: 2s;
}

.iconBox,.button,#name,#quote,.an{
    animation: flipInX;
    animation-duration: 2s;
}

