* {
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shaodw 0.2s ease-in-out ;
    touch-action: manipulation; /* disable double click zoom on mobile*/
}

html,body{
    max-width: 100%;
    overflow-x: hidden;
}

body{
    font-family: Consolas,sans-serif;
    align-items: flex-start;
}



#title{
    margin: 20px;
    font-weight: bolder;
    font-size: 2em;
}

#name{
    margin: 20px 10px 10px 20px;
    font-weight: bolder;
    font-size: 1.1em;
}

#panel{
    margin: 20px;
    flex-grow: 0;
    max-width: 400px;
}

#contentBody{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px 40px;


}

.game{
    display: flex;
    flex-direction: column;

}

.row{
    display: flex;
    flex-direction: row;
}

.cell{
    border: grey 1px solid;
    border-radius: 10px;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;

}

.cell:hover{
    background-color: lightgrey !important;
    border-color: black;
}

.button{
    border: grey 1px solid;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: max-content;
    padding: 5px 6px;


}

.button:hover{
    background-color: lightgrey;
    border-color: black;
    cursor: pointer;
    /*box-shadow: 2px 5px 18px #888888;*/
}



i::before{
    font-size: 1.4em;
}

.log{
    border: grey 1px solid;
    border-radius: 20px;
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;


}
.log strong{
    font-size: 24px;
}

.log i::before{
    font-size: 14px;
}

h1{
    animation: tada;
    animation-duration: 1s;
}


@media only screen and (min-width: 800px){
    body{
        flex-direction: row;
        justify-content: flex-start;
    }

    #contentBody{
        margin-top: 60px;
    }
    #panel{
        flex-grow: 1;
    }
    .cell{
        min-height: 60px;
        min-width: 60px;
    }
}
