* {
    font-family: 'Consolas', sans-serif;

    margin: 0;
    box-sizing: border-box;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shaodw 0.2s ease-in-out ;
    touch-action: manipulation; /* disable double click zoom on mobile*/
}

h1,h3{

    margin: 20px 150px 20px 20px;

}

#panel{
    margin: 20px;

}

body{
    display: flex;
}

#contentBody{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.game{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.row{
    display: flex;
    flex-direction: row;
}

.cell{
    border: grey 1px solid;
    border-radius: 10px;
    min-height: 50px;
    min-width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
}

.cell:hover{
    background-color: lightgrey !important;
    border-color: black;
}

.button{
    border: grey 1px solid;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: max-content;
    padding: 5px 6px;


}

.button:hover{
    background-color: lightgrey;
    border-color: black;
    cursor: pointer;
    /*box-shadow: 2px 5px 18px #888888;*/
}



i::before{
    font-size: 1.4em;
}

.log{
    border: grey 1px solid;
    border-radius: 20px;
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;


}
.log strong{
    font-size: 24px;
}

.log i::before{
    font-size: 14px;
}