body{
    margin: 2em;
}

.contentContainer{
    display: flex;
    flex-direction: row;
}

#battleground{
    border: #cccccc solid 1px;
}

#panel{
    margin: 1em;
}

.row{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.cell{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 2em;
    min-height: 2em;
    border: #cccccc 1px solid;
    transition: background-color linear 200ms;

}

i{
    font-size: 1.5em;
}

.icon{
    position: absolute;
    transition: top linear 200ms,left linear 200ms;
}
