body{
    margin: 2em;
}

.contentContainer{
    display: flex;
    flex-direction: row;
}

#battleground{
    border: #cccccc solid 1px;
}

#panel{
    margin: 0 4em;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: #cccccc solid 1px;
    padding: 1em 2em;
}

#title{
    margin-bottom: 0.3em;
}

.contentBox{
    display: flex;
    flex-direction: row;
}

.icons{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.icons i{
    font-size: 1.2rem !important;
    margin: 0.3em 1em 0.3em 0;

}

.texts{
    display: flex;
    flex-direction: column;
    align-items: flex-start;.

}


.texts span{
    margin: 0.4em 0;
}



#statsContainer{
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.stats{
    border: #cccccc solid 1px;
    padding: 1em 2em;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.cell{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 2em;
    min-height: 2em;
    /*border: #cccccc 1px solid;*/
    transition: background-color linear 200ms;

}

i{
    font-size: 1.5em;
}

.icon{
    position: absolute;
    transition: top linear 200ms,left linear 200ms,opacity ease-in-out 1000ms;
    opacity: 1;
}
